/* Estilizando el header */

body {
    margin: 0%;
}

nav{
    display: flex;
    justify-content: space-around;
    padding-top: 65px;
    padding-bottom: 65px;
    
}
#logo {
    width: 145px;
    height: 24px;
}

a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 500 medium;
    color: #242E52;
    margin: 0px 8px;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}

.button1{
    background-color: #F3603B;
    color: #FFFFFF;
    font-size: 13px;
    width: 134px;
    height: 44px;
    border-radius: 50px;
    border: none;
    padding: 8px;
    font-family: 'Be Vietnam Pro', sans-serif;
    cursor: pointer;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}



/* Estilizando home */

#home-flex {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 80px;
}

h1 {
    color: #242E52;
    font-size: 58px;
    font-weight: 700 bold;
    font-family: 'Be Vietnam Pro', sans-serif;
}

p{
    color: #000000;
    font-size: 16px;
    font-weight: 500 medium;
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-bottom: 20px;
}

/* Estilizando about-us */

#about-us-flex {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

#lista {
    display: flex;
}

h2 {
    color: #242E52;
    font-size: 36px;
    font-weight: 700 bold;
    font-family: 'Be Vietnam Pro', sans-serif;
}

h3 {
    color: #242E52;
    font-size: 16px;
    font-weight: 700 bold;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.comentarios {
    background-color: #F3603B;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 10px 25px 10px 25px;
    margin-right: 10px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 92px;
    margin-top: 5px;
} 

span {
    color: #B3B2B7;
    font-size: 16px;
    font-weight: 500 medium;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* Estilizando cards y h4 */

h4 {
    color: #242E52;
    font-size: 40px;
    font-weight: 700 bold;
    font-family: 'Be Vietnam Pro', sans-serif;
    text-align: center;
}

#testimonios {
    display: flex;
    justify-content: space-around;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5 {
    text-align: center;
    color: #242E52;
    font-size: 16px;
    font-weight: 700 bold;
    font-family: 'Be Vietnam Pro', sans-serif;
}


#contenedor-boton {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.caras {
    height: 70px;
    width: 70px;
}

/* Estilizando parte naranja */

#naranja {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #F3603B;
}

h6 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700 bold;
    font-family: 'Be Vietnam Pro', sans-serif;
}

#button2 {
    background-color: #FFFFFF;
    color: #F3603B;
    font-size: 13px;
    width: 134px;
    height: 44px;
    border-radius: 50px;
    border: none;
    padding: 8px;
    font-family: 'Be Vietnam Pro', sans-serif;
    cursor: pointer;
    margin-top: 125px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1E1E26;
    display: flex;
    justify-content: space-around;
}

footer a {
    color: #FFFFFF;
}

#logo-iconos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
 #iconos {
    margin-top: 50px;
 }

 #iconos img {
     margin-right: 10px;
 }

 .links-footer a {
    margin-bottom: 10px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;  
 }

.links-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

#formulario {
    margin-top: 30px;
}

#button-footer {
    background-color: #F3603B;
    color: #FFFFFF;
    font-size: 13px;
    width: 63px;
    height: 42px;
    border-radius: 50px;
    border: none;
    padding: 10px;
    margin-left: 10px;
    font-family: 'Be Vietnam Pro', sans-serif;
    cursor: pointer;
}

#input {
    width: 200px;
    height: 44px;
    border: none;
    border-radius: 50px;
    text-align: left;
    outline: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600 bold;
    color: #A0A0A0;
}

#copy {
    margin-top: 60px;
    color: #8C8C94;
    font-size: 12.5px;
    font-weight: 500 medium;
}

/* Estilizando botones y links */

.button1:hover {
    opacity: 0.7;
    box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
}

#button2:hover {
    opacity: 0.7;
}

#button-footer:hover {
    opacity: 0.7;
}

.icon:hover svg {
    fill: #F3603B;
}

.link:hover {
    color: #F3603B;
}

.link-nav:hover{
    opacity: 0.5;
}

/* Estilizando mobile */

@media (max-width: 375px) { 
    ul {
        display: none;
    }
}